<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDIX6RiIX2SQfiXF1G_yPz0SKN5n6JDGyU8Q&usqp=CAU);">
  <div class="container">
    <h1>Movies List</h1>
  </div>
</div>
