<div class="new-list-box">
  <h3>Create List</h3>
  <div class="form-box">
    <div class="form-new-list">
      <%= simple_form_for (@list) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
