<div class="navbar navbar-inverse fixed-top navbar-lewagon"
     data-controller="navbar"
     data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <i class="fa-solid fa-popcorn"></i>
      </div>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <%= link_to "My Lists", lists_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "New List", new_list_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
