.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 180px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.lists-card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;

}

.lists-all {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20 px;
}

.list-text {
  display: flex;
  justify-content: space-between;
}
