.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  color: rgb(247, 248, 249);
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

.navbar-lewagon-white {
  justify-content: space-between;
  background-color: rgb(248, 239, 239);
}

.navbar-nav {
 a {
  color: rgba(244, 234, 234, 0.685);
 }
}

.navbar-brand i {
  background-color: white;
}

.navbar {
  background-color: rgb(68, 6, 6);
}
