.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  color: white;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

.navbar-lewagon-white {
  justify-content: space-between;
  background-color: rgb(68, 6, 6);
}

.navbar-nav {
 a {
  color: white;
 }
}

.navbar-brand i {
  background-color: white;
}
